.page {
  min-width: 300px;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  padding: 28px 0 24px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 560px) {
  .page {
    padding-top: 5vw;
  }
}