.photo-grid {
  width: 1184px;
  margin: 92px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-flow: row;
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    width: 90.6vw;
    gap: 16px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid {
    width: 93.75vw;
    margin: 11.5vw 0;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid {
    gap: 14px;
  }
}
@media screen and (max-width: 560px) {
  .photo-grid {
    width: 90vw;
    gap: 12px;
    margin: 20vw 0;
  }
}