.places {
    width: 984px;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1280px) {
    .places {
      width: 93vw;
    }
}
@media screen and (max-width: 560px) {
  .places {
    width: 100%;
  }
}