.places {
  width: 984px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1080px) {
  .places {
    width: 90.6%;
  }
}
@media screen and (max-width: 1023px) {
  .places {
    width: 93.75%;
  }
}
@media screen and (max-width: 560px) {
  .places {
    width: 100%;
  }
}