.header__logo {
    height: 52px;
    width: 176px;
    background-size: cover;
    background-image: url(/images/sprint-3-images/header-logo.svg);
  }
  @media screen and (max-width: 540px) {
    .header__logo {
      height: 42px;
      width: 142px;
   }