.header {
    min-height: 52px;
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid darkgoldenrod; */
  }
  @media screen and (max-width: 1280px) {
   .header {
       width: calc(100% - 96px); 
   }