.header {
  min-height: 52px;
  width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .header {
    width: 90.6%;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    width: 93.75%;
  }
}
@media screen and (max-width: 540px) {
  .header {
    min-height: 42px;
    width: 90%;
  }
}
