.header {
/*     height: 100vh;*/
    top: 28px;
    min-height: 52px;
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid darkgoldenrod;
    position: relative;
 /*    flex-direction: row;
    
    align-items: center;
    padding-left: 64px;
    overflow: hidden; */
  }