.content {
  margin: 56px auto 0;
  padding: 0;
  min-width: 300px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1230px) {
  .content {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .content {
    margin-top: 48px;
  }
}