.intro {
  margin: 92px 0 0;
  padding: 0;
  width: 984px;
}
@media screen and (max-width: 1080px) {
  .intro {
    width: 90.6vw;
  }
}
@media screen and (max-width: 1023px) {
  .intro {
    width: 93.75vw;
  }
}
@media screen and (max-width: 540px) {
  .intro {
    width: 90vw;
    margin-top: 20vw;
  }
}