.cover {
    width: 1184px;
    height: 740px;
    margin-top: 92px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
}
@media screen and (max-width: 1184px) {
    .cover {
        width: 100%;
        height: calc(100vw / 1.6);
    }
}
@media screen and (max-width: 740px) {
    .cover {
        margin-top: calc(100px + 745px - 100vw);
    }
}
@media screen and (max-width: 560px) {
    .cover {
        margin-top: 66px;
    }
}