.cover__overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.cover__overlay::before {
  content: "";
  background: #2a2c2f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.cover__overlay:hover::before {
  opacity: 0.8;
}
