.cover__title {
  width: 560px;
  margin: 0 auto 32px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}
@media screen and (max-width: 760px) {
  .cover__title {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 600px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}