.footer {
    width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 92px auto 24px;
}
@media screen and (max-width: 1280px) {
    .footer {
        width: 91vw;
    }
@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column;
    }