.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  bottom: 0;
}
@media screen and (max-width: 560px) {
  .place__website {
    margin-top: 32px;
    margin-left: 16px;
    margin-bottom: 32px;
  }
}