.intro__title {
  margin: 0 0 40px 0;
  font-size: 54px;
  line-height: 56px;
  font-weight: 900;
  color: #ffffff;
}
@media screen and (max-width: 540px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}